:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
}

h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.logo-small {
  max-width: 200px;
  max-height: 50px;
}

.logo {
  /* max-width: 200px; */
  max-height: 50px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: var(--branding-color);
  border: 1px solid;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.container2 {
  background: var(--secondary-color);
  border-radius: 20px;
  width: 1160px;
  height: 150px;
  display: block;
  margin: auto;
}

.container2 p {
  margin-left: 130px;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.mail p {
  font-family: var(--default-font-family);
  margin-top: 150px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}
.about-section {
  margin-top: 200px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 85.31px;
  margin-top: 100px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
}

.about-section p {
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 30px;
}

.section-image {
  margin-top: -150px;
}

footer {
  margin: 100px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.open-source {
  font-size: small;
  text-align: center;
  margin-top: -60px;
}

/* to adjust the spacing */
@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  h2 {
    font-size: 38px;
  }

  .hero {
    padding: 80px 20px;
    margin-top: 50px;
  }

  .project-description {
    padding: 0;
    text-align: center;
    /* i.e. when it is small screen */
  }
}

@media (max-width: 600px) {
  .container2 p {
    font-size: 12px;
    text-align: left;
  }

  .container2 h3 {
    margin-left: 0;
    text-align: left;
    font-size: 42px;
  }

  .about-section {
    text-align: center;
    margin-top: 20px;
  }

  .section-image {
    margin-top: 30px;
    margin-left: -80px;
  }

  .mail {
    font-size: 14px;
  }

  nav a {
    font-size: 12px;
  }

  footer .email-link {
    font-size: 20px;
    margin: -120px;
  }
}
