:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.nav-link {
  font-family: var(--default-font-family);
}
nav-link.active {
  color: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: var(--branding-color);
  border: 1px solid;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.container2 {
  background: var(--secondary-color);
  border-radius: 20px;
  width: 1160px;
  height: 150px;
  display: block;
  margin: auto;
}

.container2 p {
  margin-left: 130px;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.mail {
  font-family: var(--default-font-family);
  margin-top: 80px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}
.content-container {
  margin-top: 200px;
}

.content-container h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 85.31px;
  margin-top: 100px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
}

.content-container h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content-container p {
  font-family: var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.img-fluid {
  margin-top: 150px;
}
.section-image {
  margin-top: -150px;
}

footer {
  font-size: small;
  text-align: center;
  margin-top: 20px;
}

/* to adjust the spacing */
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
    margin-top: 50px;
  }

  .project-description {
    padding: 0;
    text-align: center;
    /* i.e. when it is small screen */
  }
}

@media (max-width: 600px) {
  .container2 p {
    font-size: 14px;
    text-align: left;
  }

  .content-container {
    text-align: center;
    margin-top: 50px;
  }

  .section-image {
    margin-top: 30px;
    margin-left: -80px;
  }

  .btn {
    margin-left: 150px;
  }
}
